<div class="container">
  <h1>{{title}} </h1>
  <form>
    <div class="row">
      <!-- Operando A-->
      <div class="col-sm-10">
        <div class="mb-2 row">
          <label class="col-sm-12 col-form-label">Operando A: </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="Ingrese operando A" [(ngModel)]='operandoA'
              name="operandoA">
          </div>
        </div>
      </div>
      <!-- Operando B-->
      <div class="col-sm-10">
        <div class="mb-2 row">
          <label class="col-sm-12 col-form-label">Operando B: </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="Ingrese operando B" [(ngModel)]='operandoB'
              name="operandoB">
          </div>
        </div>
      </div>
    </div>
    <!-- Button -->
    <div class="mb-3">
      <button type="button" class="btn btn-primary" (click)="sumar()">Sumar</button>
      <button type="button" class="btn btn-secondary" (click)="restar()">Restar</button>
      <button type="button" class="btn btn-success" (click)="dividir()">Dividir</button>
      <button type="button" class="btn btn-warning" (click)="multiplicar()">Multiplicar</button>
    </div>
    <!-- Resultado-->
    <div class="col-sm-8 row">
      <label for="">Resultado: {{resultado}} </label>
    </div>
  </form>
</div>